# dependencies
node_modules/

# build output
dist/
*.tsbuildinfo

# tooling
.turbo/
coverage/

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# misc
.DS_Store
*.log
